    .theme-toggle {
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 10;
    
        label {
        font-size: 14px;
        margin-right: 10px;
        cursor: pointer;
        }
    
        input[type="checkbox"] {
        cursor: pointer;
        }
    }
    
    .dark-theme {
        background-color: #121212;
        color: #ffffff;
    
        .container {
            background-color: #1e1e1e;
            border-color: #333;
        }
    
        h1, span, a {
            color: #ffffff;
        }
    
        input {
            background-color: #333;
            color: #ffffff;
            border: 1px solid #555;
        }
    
        button {
            background-color: #444;
            color: #ffffff;
            border: 1px solid #555;
        }
    
        .overlay {
            background: linear-gradient(to right, #243B55, #141E30);
        }
    }